{% layout 'layout.liquid' %}
{% block content %}
    <h1 class="display-4">Welcome To The Zodiac Acadmey App</h1>
	<p>This is an app about all the characters we love and the ones we love to hate</p>
    <div class="btn-group btn-group-lg">
        <a href="/users/signup" class="btn btn-success">Sign Up</a>
        <a href="/users/login" class="btn btn-success">Login</a>
    </div>
{% endblock %}